
.metrics-warning-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:  auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .metrics-warning-container {
    background-color: rgba(246, 248, 251, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px;
    max-width: 1024px;
  }
  
  .hidden {
    display: none;
  }
  
  div.metrics-warning-wrapper .metrics-warning-text {
    color: rgba(7, 58, 83, 1);
    order: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  div.metrics-warning-wrapper .metrics-warning-text .metric-info-link-wrapper {
    padding: 8px 0 0;
  }
  
  div.metrics-warning-wrapper .metrics-warning-buttons {
    order: 3;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    gap: 1rem;
    height: 100%;
    flex-direction: column;
    margin-left: 8px;
  }
  
  div.metrics-warning-wrapper a {
    color: rgba(107, 196, 206, 1);
  }
  
  div.metrics-warning-wrapper button {
    border: none;
    color: rgba(107, 196, 206, 1);
    cursor: pointer;
    background-color: transparent;
    align-content: center;
    vertical-align: center;
    text-align: center;
  }
  
  .metrics-warning-wrapper button#metrics-warning-accept {
    border: 1pt solid rgba(107, 196, 206, 1);
  }
  
  button#metrics-warning-close {
    border: 1pt solid rgba(107, 196, 206, 1);
    /* color: rgba(7, 58, 83, 1); */
  }
  
  @media (max-width: 1002px) {
  
      .metrics-warning-wrapper .metrics-warning-text {
        color: rgba(7, 58, 83, 1);
        order: 1;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
      }

      div.metrics-warning-wrapper .metrics-warning-text .metric-info-link-wrapper {
        padding: 8px 0;
      }
  
    /* .metrics-warning-container {
      display: flex;
      flex-direction: column;
    } */

    /* div.metrics-notification-wrapper .metrics-warning-buttons {
        margin-top: 8px;
      } */
  }
  