.example-metrics-app {
    display: flex;
    width: 100%;
    height: 300px;
    position: relative;
    padding: 25px;

}

.example-metrics-app-consent {
    width: 100%;
}

.example-metrics-app-body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.example-metrics-app-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.example-metrics-app .cookieConsentToggle {
    position: absolute;
    bottom: 0;
    left: 0;
}